html,
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

#submit-button {
    margin-top: 10px;
}